#set($layout = "_index.vm")
#set($page_title = "稍后阅读 - view it later")
#set($active = "view")
#set($p1 = $link.param("p1","about"))
#set($p = $link.param("p",1))
#set($status = $link.param("status","all"))
#if($status=="archive")
	#set($s = 8)
#else
	#set($s = -1)
#end
#set($size = 8)
<style>
	.page-header a {text-decoration:none}
	.page-header a:hover{color:#08c}
	.view a{text-decoration:none;font-weight:bold}
	.view a:hover{}
	.view .viewed {color:#777;font-weight:normal}
	.view .viewed:hover {color:#000}
	.view .archive{color:#666;font-weight:normal}
	.view .archive:hover {color:#000}
	.table .view td {border-top:none;border-bottom:1px solid #ddd}
</style>
<div class="page-header">
    <h1><a href="$link.link("view")">View It Later <small>稍后浏览</small></a></h1>
</div>
#if($g_user && $p1 == "more")
	#set($views = $todo.listByUser($g_user, $s, $p, $size))
	#set($count = $todo.countByUser($g_user, $s))
	<div class="row">
		<div class="span10">
            <div class="tabbable">
				<ul class="nav nav-tabs">
                    <li#if($status=="all") class="active"#end><a href="?status=all">所有</a></li>
                    <li#if($status=="archive") class="active"#end><a href="?status=archive">存档</a></li>
                </ul>
            	<table class="table table-hover">
            		#foreach($v in $views)
            			<tr class="view">
    						#set($num = $velocityCount + ($p - 1)*$size)
                            <td>$num</td>
                            <td class="view-url">
								<a href="$v.url" ref="$v.id" target="_blank"#if($v.status==1) class="viewed"#elseif($v.status==8) class="archive" title="已存档"#else title="未浏览"#end>$v.title</a>
								<span class="pull-right">$format.date("yyyy-MM-dd HH:mm",$v.createTime)</span>
							</td>
                            <td class="view-remove"><a href="#" ref="$v.id" title="删除"><i class="icon-remove"></i></a></td>
                            <td class="view-archive">
    							#if($v.status != 8)
    								<a href="#" ref="$v.id" title="存档"><i class="icon-ok"></i></a>
    							#end
    						</td>
    					</tr>
            		#end
                </table>
    			#pager("?status=$status",$count,$size)
            </div>
        </div>
        <script>
			$(function(){
				$(".view-url a").click(function(){
					obj = $(this);
					var id = obj.attr("ref");
					var params = {
						"id":id
					};
					ajax("$link.action("view/mark")",params,function(msg){
						if(msg.error){
							alert(msg.msg);
							return ;
						}
						obj.addClass("viewed");
					});				
				});
				
				$(".view-remove a").click(function(){
					obj = $(this);
					var id = obj.attr("ref");
					var params = {
						"id":id
					};
					ajax("$link.action("view/delete")",params,function(msg){
						if(msg.error){alert(msg.msg);return;}
						obj.parents("tr").remove();
					});
				});
				
				$(".view-archive a").click(function(){
					obj = $(this);
					var id = obj.attr("ref");
					var params = {
						"id":id
					};
					ajax("$link.action("view/archive")",params,function(msg){
						if(msg.error){alert(msg.msg);return;}
						obj.remove();
					});
				});
			});
		</script>
    </div>
#elseif(!$g_user || $p1 == "about")
    <div class="well">
        <h3>这样一个情况：</h3>
        <p>在网上发现比较有趣的视频，可能是工作时间不方便观看，怎么办呢？</p>
        <h5 class="text-error">可以加入书签，回家看！</h5>
        <p>但是书签多了管理都麻烦，书签的同步也不一定那么及时，于是就有了这个<strong><a href="$link.action("file/crx")">chrome插件</a></strong>了^.^</p>
        <p><img src="$link.img("viewitlater.jpg")" alt="view it later"/></p>
        <p>点击添加，就将当前页面加入view it later，等有时间了再点击浏览！</p>
        <p>浏览过后，该项将不再显示，如果需要查看之前的，点击<strong>更多</strong>！</p>
		
		<hr />
		<h3>安装</h3>
        <p>打开google浏览器的应用拓展界面，设置--工具--拓展程序，或者在google浏览器地址栏输入 <strong>chrome://extensions/</strong></p>
        <p>然后将下载下来的插件拖到这个界面进行安装^.^</p>
		
		<hr />
		<h3>源码</h3>
        <p>如果您对拓展程序的源码感兴趣，请移步到<a href="https://github.com/smilezino/viewitlater">https://github.com/smilezino/viewitlater</a></p>
	</div>
#end