#set($layout = "_index.vm")
#set($page_title = "修改 - Blog")
#set($active = "blog")

#set($id = $link.lparam("id",0))
#set($blog = $Blog.Get($id))

#if($g_user && $blog && ($g_user.IsManager() || $blog.user==$g_user.id))

#set($tags = $Tag.listByBlog($blog.id))
#invoke("widget/js.vm")

<form id="blog-form">
<input type="hidden" name="id" value="$blog.id" />
<div class="row">
	<div class="span4" id="md-help">
		<div class="span3" style="float:left;margin-left:0">
			<div class="well">
			<ul class="unstyled">
	           <li>行尾2空格 + 1回车  = 换行</li>
	           <li>连续2回车 = 空行分段</li>
	           <li>*斜体* ， **粗体**</li>
	           <li>行首4空格  = 代码块</li>
               <li>`代码` = 行内代码</li>
	           <li>行首&gt; = 引用</li>
	           <li>行首- = 无序列表</li>
	           <li>行首1. = 有序列表</li>
	           <li>&lt;http://zinor.net&gt; = 链接网址</li>
	           <li>[文字](http://url) = 链接文字 </li>
	           <li>![说明](http://imgurl) = 图片</li>
	        </ul>
	        </div>
	     </div>
	     <div class="clearfix"></div>
	     <h4>HTML 代码：</h4>
	     <div id="wmd-output" class="wmd-panel"></div>      
    </div>
	<div class="span8">
		<input class="input-block-level" type="text" name="title" value="$blog.title"/>
		<div id="wmd-editor" class="wmd-panel">
			<div id="wmd-button-bar"></div>
			<textarea id="wmd-input" name="text">$blog.text</textarea>
			
			#set($collections = $BlogCollection.listByUser($g_user.id))
			<div class="pull-right">
                <span class="info">合集：</span>
                <select name="collection" id="collection">
                    <option value="0" id="flag"></option>
					#foreach($c in $collections)
                        <option value="$c.id" #if($c.id==$blog.collection)selected#end>$format.html($c.name)</option>
					#end
                    <option value="-1"> + 新建</option>
				</select>
            </div>
			
			<input class="input-tag" type="text" placeholder="标签" id="input-tag" /> <a id="btn-tag" class="info" href="javascript:;">添加</a>
            <div id="tags">
				#foreach($tag in $tags)
                    <div class="tag">
						<span class="label label-info">$format.html($tag.tag)</span><span class="tag-close" title="取消">X</span>
						<input type="hidden" name="tag" value="$tag.tag"/>
                    </div>
				#end
			</div>
		</div>
        <div class="clearfix"></div>
		<h4>预览：</h4>
		<div id="wmd-preview" class="wmd-panel"></div>
        <div class="cmd-btn">
			<input id="btn-post" class="btn btn-primary input-btn" type="button" value="保存修改" />
			#if($blog.draft==1)
				<input id="btn-draft" class="btn btn-primary input-btn" type="button" value="存为草稿" />
			#end
		</div>
    </div>
</div>
</form>
<script>
	$(function(){
		$("#btn-post").click(function(){
			var options = {
    			url:"$link.action("blog/update_post")",
    			dataType:"json",
    			type:"POST",
    			beforeSubmit:function(){},
    			success:function(msg){
    				if(unLogin(msg)) {
						location.href = "/login";
						return ;
					}
    				if(msg.error){alert(msg.msg);return;}
    				location.href = "$link.link("blog?id=")"+msg.id;
    			}
    		};
			$("#blog-form").ajaxSubmit(options);
		});
		
		#if($blog.draft==1)
    		$("#btn-draft").click(function(){
    			var options = {
        			url:"$link.action("blog/draft")",
        			dataType:"json",
        			type:"POST",
        			beforeSubmit:function(){},
        			success:function(msg){
        				if(unLogin(msg)) {
    						location.href = "/login";
    						return ;
    					}
        				if(msg.error){alert(msg.msg);return;}
        				location.href = "$link.link("blog/draft?id=")"+msg.id;
        			}
        		};
    			$("#blog-form").ajaxSubmit(options);
    		});
		#end
	});
</script>

#else
	$link.login()
#end
