#set($layout = "_index.vm")
#set($page_title = "发表 Blog - By smile zino")
#set($active = "blog")

<style>
	textarea{width:100%;min-height:400px;}
</style>
<link href='$link.js("markdown/wmd.css")' rel='stylesheet' type='text/css'/>
<script src='$link.js("markdown/wmd.js?v=1.0")' type='text/javascript'></script>
<script type='text/javascript'>
$(function(){
	$('#wmd-input').before('<div id="wmd-button-bar" class="wmd-button-bar"></div>');
    var converter = Markdown.getSanitizingConverter();
    var wmd = new Markdown.Editor(converter,null,null);
    wmd.hooks.set('insertImageDialog', doInsertImage);
    wmd.run();
    $('#wmd-tab a').click(function(){
    	$('#wmd-button-bar').toggle();
    	$('#wmd-input').toggle();
    	$('#wmd-preview').toggle();
    });
});
</script>
<div class="row">
	<div class="span9">
		<textarea id="wmd-input"></textarea>
		
		<div class="wmd-preview" id="wmd-preview">
		</div>
    </div>
	
	<div class="span3">
		<ul class="unstyled">
           <li>行尾2空格 + 1回车 = 换行</li>
           <li>连续2回车 = 空行分段</li>
           <li>*斜体* ， **粗体**</li>
           <li>行首4空格 = 代码块</li>
           <li>行首&gt; = 引用</li>
           <li>行首- = 无序列表</li>
           <li>行首1. = 有序列表</li>
           <li>&lt;http://foo.com&gt; = 链接网址</li>
           <li>[文字](http://url) = 链接文字 </li>
           <li>![说明](http://imgurl) = 图片</li>
           <li>学习使用 <a href="/article/23" target="_blank">Markdown</a> 语法</li>
        </ul>
    </div>
</div>
