##blog rss
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
#set($__nothing = $request.setAttribute("close_comment",true))
#set($_temp_nothing = $response.setContentType("application/rss+xml;charset=UTF-8"))
<channel>
    <title></title> 
    <link></link> 
    <description></description>
    <language>zh-CN</language>
    <pubDate></pubDate>    
	<image>
		<link></link>
		<url></url>
		<title></title>
	</image>
#foreach($blog in $blogs)
	<item>
        <title></title>
        <link></link>
        <category></category>
        <description><![CDATA[${blog.Content()}]]></description>
        <pubDate></pubDate>
        <guid></guid>
    </item>
#end
</channel>
</rss>