#set($layout = "_index.vm")
#set($page_title = "关于我 - By smile zino")

#set($resume = $Resume.resume())
<style>
    h1 small {
        font-size: 12.5px
    }
</style>
<div class="page-header">
    <h1>关于我
        <small>更新于 $format.date("yyyy-MM-dd HH:mm", $resume.updateTime)</small>
    </h1>
</div>
<div class="iwell">
    #if($resume)
        $resume.incViewCount()
        $resume.markdown()
    #end
</div>