#set($layout = "_index.vm")
#set($page_title = "Note 记事本 - zinor.net")
#set($active = "note")

#set($p = $link.param("p",1))
#set($size = 16)
<style>
	.nav-header {padding:20px 0 5px 0;text-align:center;font-size:16px;color:#666}
	.nav-list>li>a {display:block;margin:0 0 -1px 0;border:1px solid #e5e5e5;padding: 5px 14px;}
	.note-list ul {margin-left:0}
	.note-line {font-size:16px;margin-left:5px;display:inline-block;vertical-align:bottom}
	.pull-right a{margin-left:8px;text-decoration:none}
	.pull-right .edit:hover{color:black;}
	.note-list li {padding:15px 5px;border-bottom:1px dashed #ccc;border-top:none;list-style:none}
	.badge {padding:5px 10px}
	.edit {padding: 2px 4px;color: gray;background-color: #f7f7f9;border: 1px solid #e1e1e8;
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
        font-size: 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;}
</style>
#if($g_user)
	#set($id = $link.param("id",0))
	#set($note = $Note.Get($id))
	#set($notes = $Note.list($g_user.id,1,5))
	#if($note && ($n.user==$g_user.id || $g_user.IsManager()))
		#set($user = $User.Get($note.user))
		<div class="container-fluid">
            <div class="row-fluid bs-docs-sidebar">
        		<div class="span3">
					<ul class="nav nav-list">
            				<li><a href="$link.link("note/edit?id=")$note.id">编辑</a></li>
            			</ul>
        			<ul class="nav nav-list">
        				<li class="nav-header">最近记事</li>
        				#foreach($n in $notes)
                            <li><a href="$link.link("note?id=")$n.id">$format.html($format.prefix($n.prefixText(),15))</a></li>
        				#end
                    </ul>
        	     </div>
            	<div class="span9">
        			<div class="page-header">
                        <h1>$note.title <small>$format.prefix($format.html($note.prefixText()),25)</small></h1>
                        <div>
        					<strong>#if($user.name)$user.name#else佚名#end</strong>发表于 $format.date("yyyy-MM-dd HH:mm",$note.createTime)
        				</div>
                    </div>
					
					<div class="blog-content">
            				$note.markdown()
            		</div>
						
                </div>
            </div>
        </div>
	#else
        #set($notes = $Note.list($g_user.id, $p, $size))
        #set($count = $Note.count($g_user.id))
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3">
                        <ul class="nav nav-list">
            				<li class="nav-header"></li>
            				<li><a href="$link.link("note/new")">新建记事本</a></li>
            			</ul>
                    </div>
            		<div class="span9">
            			<div class="page-header">
                            <h1>列表</h1>
                        </div>
            			<div class="note-list">
            				<ul>
        					#foreach($n in $notes)
        						<li>
        							<span class="pull-right">
                                        <a class="note-edit" href="$link.link("note/edit?id=")$n.id" title="编辑"><span class="edit">编辑</span></a>
                                       <a class="note-del" href="javascript:;" title="编辑" ref="$n.id"><span class="edit">删除</span></a>
                                    </span>
            						<span class="badge">$n.title</span>
                                    <span class="note-line">
                                        <a href="$link.link("note?id=")$n.id">$format.html($format.prefix($n.prefixText(),50))</a>
            						</span><br/>
                                </li>
        					#end
            				</ul>
            			</div>
            			#pager("",$count,$size)
                    </div>
                </div>
            </div>
            <script>
        		$(".note-del").click(function(){
        			var id = $(this).attr("ref");
        			var params = {
        				"id":id
        			};
        			if(confirm("确定删除？")) {
        				ajax("$link.action("note/delete")",params,function(msg){
        					if(msg.error){alert(msg.msg);return;}
        					location.reload();
        				});
        			
        			}
        		});
        	</script>
	#end
#else
	$link.redirect($link.link("login"))
#end