#set($layout = "_admin.vm")
#set($page_title = "admin")
#set($active = "blog")

#set($p = $link.param("p",1))
#set($size = 16)

<style>
	.table th {text-align:center;background:#ccc}
	.width10 {width:10%}
	.width50 {width:50%}
</style>
##参数1：-1所有，1草稿，0正常
##参数2：-1所有，1投稿，0正常
##参数3：是否根据合集id筛选，-1否
##参数4：标签，空列出所有标签
##参数5: 页码
##参数6: 每页个数
#set($blogs = $Blog.listByFilter(-1, -1, -1, "", $p, $size))
##参数1：-1所有，1草稿，0正常
##参数2：-1所有，1投稿，0正常
##参数3：是否根据合集id筛选，-1否
##参数4：标签，空 所有标签
#set($count = $Blog.countByFilter(-1, -1, -1, ""))
<table class="table table-condensed table-bordered">
    <thead><tr>
        <th class="width10">id</th>
		<th class="width50">标题</th>
        <th class="width10">用户</th>
        <th class="width10">状态</th>
        <th class="width10">浏览量</th>
		<th class="width10">操作</th>
	</tr></thead>
    <tbody>
	#foreach($b in $blogs)
		<tr>
            <td class="width10">$b.id</td>
            <td class="width50"><a href="$link.link("blog?id=")$b.id">$format.html($b.title)</a></td>
			#set($user = $User.Get($b.user))
            <td class="width10">
				#if($user)$format.html($user.name)#else佚名#end
			</td>
            <td class="width10">#if($b.draft==1)<a class="blog-edit" href="$link.link("blog/edit?id=")$b.id" title="编辑" ref="$b.id">草稿</a>#end #if($b.status==1)投稿#end</td>
            <td class="width10">$b.viewCount</td>
            <td class="width10">
				<a class="blog-edit" href="$link.link("blog/edit?id=")$b.id" title="编辑" ref="$b.id"><i class="icon-edit"></i></a>
				<a class="blog-delete" href="#" title="删除" ref="$b.id"><i class="icon-remove"></i></a>
				#if($b.status==1)
					<a class="blog-accept" href="#" title="采纳" ref="$b.id"><i class="icon-ok"></i></a>
				#end
			</td>
        </tr>
	#end
	</tbody>
</table>
#pager("",$count,$size)	
<script>
	$(function(){
		$(".blog-accept").click(function(){
			var id = $(this).attr("ref");
			var params = {
				"id":id
			};
			ajax("$link.action("blog/accept")",params,function(msg){
				if(msg.error){alert(msg.msg);return;}
				location.reload();
			})
		});
		
		$(".blog-delete").click(function(){
			var id = $(this).attr("ref");
			var params = {
				"id":id
			};
			if(confirm("确定删除？")) {
				ajax("$link.action("blog/delete")",params,function(msg){
					if(msg.error){alert(msg.msg);return;}
					location.reload();
				});
			
			}
		});
	});
</script>