#set($layout = "_admin.vm")
#set($page_title = "admin")
#set($active = "doc")

#set($p = $link.param("p",1))
#set($size = 16)

<style>
	.table th {text-align:center;background:#ccc}
	.input-append {margin-bottom:0}
</style>
##参数1 用户id， -1所有
##参数2 是否归档， -1所有
#set($docs = $Doc.List($p, $size))
#set($count = $Doc.Count())
<div>
	<form id="docUpload" method="POST" action="$link.action("file/uploadDoc")" enctype="multipart/form-data">
        <input id="doc" name="doc" type="file" style="display:none">
        <div class="input-append">
           <input id="photoCover" class="input-large" type="text">
           <a class="btn" onclick="$('input[id=doc]').click();">Browse</a>
        </div>
		<input id="btn-upload" type="button" value="确定" class="btn btn-primary"/>
    </form>
    <script>
		$(function(){
			$('input[id=doc]').change(function() {
               $('#photoCover').val($(this).val());
            });
			$("#btn-upload").click(function(){
				var options = {
					dataType:"JSON",
					type:"POST",
					success:function(msg){
						if(unLogin(msg)) {
    						location.href = "/login";
    						return ;
    					}
						if(msg.error){alert(msg.msg);return;}
						location.reload();
					}
				};
				$("#docUpload").ajaxSubmit(options);
			});
		});
	</script>
</div>
<table class="table table-condensed table-bordered">
    <thead><tr>
        <th>id</th>
		<th>文件名</th>
        <th>文件链接</th>
        <th>用户</th>
        <th>时间</th>
        <th>下载次数</th>
		<th>操作</th>
	</tr></thead>
    <tbody>
	#foreach($d in $docs)
		<tr>
            <td>$d.id</td>
            <td><a href="$link.action("file/download?id=")$d.id">$format.html($d.filename)</a></td>
            <td>http://www.zinor.net/action/file/download?id=$d.id</a></td>
			#set($user = $User.Get($d.user))
            <td>#if($user)$format.html($user.name)#end</td>
            <td>$format.date("yyyy-MM-dd HH:mm:ss",$d.createTime)</td>
            <td>$d.downloadCount</td>
            <td class="doc-remove"><a href="#" ref="$d.id" title="删除"><i class="icon-remove"></i></a></td>
		</tr>
	#end
	</tbody>
</table>
#pager("",$count,$size)	
<script>
	$(function(){
		$(".doc-remove a").click(function(){
			obj = $(this);
			var id = obj.attr("ref");
			var params = {
				"id":id
			};
			ajax("$link.action("file/delete")",params,function(msg){
				if(msg.error){alert(msg.msg);return;}
				obj.parents("tr").remove();
			});
		});
	});
</script>