#set($layout = "_admin.vm")
#set($page_title = "admin")
#set($active = "doc")

#set($p = $link.param("p",1))
#set($size = 16)

<style>
	.table th {text-align:center;background:#ccc}
	.input-append {margin-bottom:0}
	select { width:auto;margin-bottom:0;float:right;}
    .status1 {color: red; background-color: red}
    .status0 {color: #8deca0; background-color: #8deca0}
</style>
##参数1 用户id， -1所有
##参数2 是否归档， -1所有
#set($docs = $Doc.list($p, $size))
#set($count = $Doc.Count())
<div>
	<form id="docUpload" method="POST" action="$link.action("file/uploadDoc")" enctype="multipart/form-data">
        <input id="doc" name="doc" type="file" style="display:none">
        <div class="input-append">
           <input id="photoCover" class="input-large" type="text">
           <a class="btn" onclick="$('input[id=doc]').click();">Browse</a>
        </div>
		<input id="btn-upload" type="button" value="确定" class="btn btn-primary"/>
    </form>
    <script>
		$(function(){
			$('input[id=doc]').change(function() {
               $('#photoCover').val($(this).val());
            });
			$("#btn-upload").click(function(){
				var options = {
					dataType:"json",
					type:"post",
					success:function(msg){
						if(unLogin(msg)) {
    						location.href = "/login";
    						return ;
    					}
						if(msg.error){alert(msg.msg);return;}
						location.reload();
					}
				};
				$("#docUpload").ajaxSubmit(options);
			});
		});
	</script>
</div>
#set($status=[0,1])
<table class="table table-condensed table-bordered">
    <thead><tr>
        <th>id</th>
		<th>文件名</th>
        <th>文件链接</th>
        <th>用户</th>
        <th>状态</th>
        <th>时间</th>
        <th>下载次数</th>
		<th>操作</th>
	</tr></thead>
    <tbody>
	#foreach($d in $docs)
		<tr>
            <td class="width5">$d.id</td>
            <td><a href="$link.action("file/download?id=")$d.id">$format.html($d.filename)</a></td>
            <td>http://www.zinor.net/action/file/download?id=$d.id</a></td>
			#set($user = $User.Get($d.user))
            <td class="width5">#if($user)$format.html($user.name)#end</td>
            <td class="width10">
                <span id="s$d.id" class="status$d.status" title="$Doc.status($d.status)">$Doc.status($d.status)</span>
				<a href="javascript:;" class="edit pull-right" ref="$d.id">修改</a>
				<select id="$d.id" style="display:none">
					#foreach($s in $status)
                        <option #if($d.status==$s)selected#end value="$s">$Doc.status($s)</option>
					#end
                </select>
			</td>
            <td class="width15">$format.date("yyyy-MM-dd HH:mm:ss",$d.createTime)</td>
            <td class="width10">$d.downloadCount</td>
            <td class="doc-remove width5"><a href="#" ref="$d.id" title="删除"><i class="icon-remove"></i></a></td>
		</tr>
	#end
	</tbody>
</table>
#pager("",$count,$size)	
<script>
	$(function(){
		$(".doc-remove a").click(function(){
			obj = $(this);
			var id = obj.attr("ref");
			var params = {
				"id":id
			};
			ajax("$link.action("file/delete")",params,function(msg){
				if(msg.error){alert(msg.msg);return;}
				obj.parents("tr").remove();
			});
		});
		$(".edit").click(function(){
			obj = $(this);
			var id = obj.attr("ref");
			obj.hide();
			var select = $("#"+id);
			var span = $("#s"+id);
			select.live("blur",function(){
				$(this).hide();
				$(".edit").show();
			})
			select.live("change",function(){
				var tip = "status"+$(this).find("option:selected").val();
				var title = $(this).find("option:selected").text;
				var s = $(this).val();
				changeStatus(id,s);
				$(this).hide();
                span.removeClass();
				span.addClass(tip);
                span.setAttribute("title", title);
			});
			select.show();
			select.focus();
		});
		function changeStatus(id, s) {
			var params = {
				"id":id,
				"s":s
			};
			ajax("$link.action("file/changeDocAuth")",params,function(msg){
			if(msg.error){alert(msg.msg);return;};
		});
		}
	});
</script>