#set($layout = "_index.vm")
#set($page_title = "登录")
<form class="form-horizontal" id="login-form" action="$link.action("user/login")">
    <fieldset>
        <legend><h3>Login</h3></legend>
        <div class="control-group">
            <label class="control-label" for="username"><i class="icon-user"></i></label>
            <div class="controls">
				<input type="text" class="input" name="username" id="username">
                <span id="err-username" class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
			<label class="control-label" for="pwd"><i class="icon-lock"></i></label>
            <div class="controls">
				<input type="password" class="input" name="pwd" id="pwd">
				<span id="err-pwd" class="help-inline error"></span>
            </div>
        </div>
            <div class="control-group" style="margin-left:90px">
            <input id="login-btn" type="button" class="btn" value="Sign In" style="margin-right:20px">
        </div>
    </fieldset>
</form>
<script>
	function login(){
		var u = $("#username");
		var p = $("#pwd");
		if(u.val().trim().length<=0) {
			u.parents(".control-group").addClass("error");
			$("#err-username").html("请输入用户名或email");
			u.focus();
			return ;
		}
		if(p.val().trim().length<=0) {
			p.parents(".control-group").addClass("error");
			$("#err-pwd").html("请输入密码");
			p.focus();
			return ;
		}
		var params = {
			"username":u.val(),
			"pwd":p.val()
		};
		ajax("$link.action("user/login")",params,function(msg) {
			if(msg.error) {
				u.parents(".control-group").addClass("error");
				$("#err-username").html(msg.msg);
				return;
			}
			location.href = "$link.link("view")";
		});
	}
	$(function(){
		$("#login-btn").click(function(){
			login();
		});
		$("body").keyup(function(event){
			if(event.which==13)
				login();
		});
	});
</script>