#set($layout = "_index.vm")
#set($page_title = "注册")
<form class="form-horizontal" id="register-form" action="$link.action("user/login")">
    <fieldset>
        <legend><h3>Register</h3></legend>
		<div class="alert alert-info">
            <p>我们不会向您的邮箱发送任何广告邮件，填写邮箱仅仅是为了找回密码。</p>
			<p>我们也不会泄露您任何隐私，更不会像某**DN一样泄露您的密码 （密码都是经过加密的哦 ^.^）</p>
        </div>
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
				<input type="text" class="input" name="name" id="name">
                <span id="err-name" class="help-inline"></span>
            </div>
        </div>
		<div class="control-group">
			<label class="control-label" for="email">Email</i></label>
            <div class="controls">
				<input type="text" class="input" name="email" id="email">
				<span id="err-email" class="help-inline error"></span>
            </div>
        </div>
		<div class="control-group">
			<label class="control-label" for="pwd1">Password</label>
            <div class="controls">
				<input type="password" class="input" name="pwd1" id="pwd1">
				<span id="err-pwd1" class="help-inline error"></span>
            </div>
        </div>
        <div class="control-group">
			<label class="control-label" for="pwd2">RePassword</label>
            <div class="controls">
				<input type="password" class="input" name="pwd2" id="pwd2">
				<span id="err-pwd2" class="help-inline error"></span>
            </div>
        </div>
            <div class="control-group" style="margin-left:90px">
            <input id="register-btn" type="button" class="btn" value="Sign Up" style="margin-right:20px">
        </div>
    </fieldset>
</form>
<script>
	$(function(){
		$("#register-btn").click(function(){
			var u = $("#name");
			var e = $("#email");
			var p1 = $("#pwd1");
			var p2 = $("#pwd2");
			if(u.val().trim().length<=0) {
				u.parents(".control-group").addClass("error");
				$("#err-name").html("请输入用户名");
				u.focus();
				return ;
			}
			if(e.val().trim().length<=0) {
				e.parents(".control-group").addClass("error");
				$("#err-email").html("请输入邮箱");
				e.focus();
				return ;
			}
			if(p1.val().trim().length<6) {
				p1.parents(".control-group").addClass("error");
				$("#err-pwd1").html("密码长度不能小于6");
				p1.focus();
				return ;
			}
			if(p2.val().trim().length<6) {
				p2.parents(".control-group").addClass("error");
				$("#err-pwd2").html("密码长度不能小于6");
				p2.focus();
				return ;
			}
			if(p1.val()!=p2.val()) {
				p2.parents(".control-group").addClass("error");
				$("#err-pwd2").html("两次密码不一致");
				p2.focus();
				return ;
			}
			var params = {
				"name":u.val(),
				"email":e.val(),
				"pwd1":p1.val(),
				"pwd2":p2.val()
			};
			ajax("$link.action("user/register")",params,function(msg) {
				if(msg.error) {
					u.parents(".control-group").addClass("error");
					$("#err-name").html(msg.msg);
					return;
				}
				location.href = "$link.link("todo")";
			});
		});
	});
</script>